:root {
    --bs-body-font-family: 'Lato', sans-serif;
}


@layer components {
    .mapicon {
        background-color: var(--bs-secondary-90);
        color: white;
        padding-top: 0.25rem;
        padding-right: 0.75rem;
        padding-bottom: 0.25rem;
        padding-left: 0.75rem;
        border-width: 2px;
        border-color: rgba(var(--color-white),var(--tw-border-opacity));
        border-radius: 0.75rem;
        font-size: 1.125rem;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        line-height: 1.75rem;
    }
}