<!--  -->
<header class="sticky-top bg-white d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

    <nav class="navbar navbar-expand-lg">
      <div class="container">
    <!-- <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"> -->
      <a href="/" class="navbar-brand">
      <img src="{{"logo.svg"|relURL}}" class="bi me-2" width="64px"/>
      <span>{{.Site.Title}}</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
   <!-- <ul class="nav nav-pills"> -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
     {{ $currentPage := . }}

     {{ $page := . }}
{{ $basepath := path.Clean (urls.Parse (relLangURL "")).Path }}
{{ if eq $basepath "/" }}
    {{ $basepath = "" }}
{{ end }}

{{ $pagepath := strings.TrimPrefix $basepath $page.RelPermalink }}

    {{ range .Site.Menus.main }}
    {{ $menupath := strings.TrimPrefix $basepath .URL }}
                {{ $home := and (eq $menupath "/") (eq $pagepath "/") }}
                {{ $menuprefix := and (ne $menupath "/") (hasPrefix $pagepath $menupath) }}
                {{ $sectionprefix := and (ne $menupath "/") (hasPrefix $menupath (printf "/%s/" $page.Section)) }}
                {{ $active := or $home $menuprefix $sectionprefix }}

      {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {{if $active}} active {{end}}" href=".{{.URL}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{.Name}}
          </a>
          <ul class="dropdown-menu">
            {{ range .Children }}
            <li><a class="dropdown-item" href="{{.URL}}">{{.Name}}</a></li>
            {{ end }}
          </ul>
        </li>
      {{ else }}
        <li class="nav-item"><a class="nav-link {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a></li>
      {{ end }}
    {{ end }}
    </ul>
  </div>
  </div>
  </nav>

  <!-- https://docs.google.com/forms/d/1KdEmVg0mS6Ytk8DNaDy78MYATrw_GXaIyrcNn9dz5PU/viewform -->
  <div class="container">
    <div class="d-flex justify-content-center">
      <div>
        <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" 
          target="_blank" rel="noopener noreferrer"
          href="https://docs.google.com/forms/d/1KdEmVg0mS6Ytk8DNaDy78MYATrw_GXaIyrcNn9dz5PU/viewform">
          Interesse anmelden
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
          </svg>
        </a>
      </div>
      <div>
        <p class="fs-6">(Öffnet Google Formular in neuem Tab)</p>
      </div>
    </div>
  </div>

  </header>

  {{ if .Page.Params.headerImage}}

  {{ $headerImage := .Page.Resources.GetMatch .Page.Params.headerImage }}

  {{ if $headerImage }} 
    
  <style>
  .header-image-nahwaerme {
    width: 100%;
    height: 150px;
    background-image: url("{{ $headerImage.Permalink }}");
    background-size: cover; /* The dimentions of your image */
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 1vh;
  }
  </style>

  {{end}}

  <div class="row header-image-nahwaerme"></div>


  {{ if .Page.Params.useMermaid}}
  <script>
    var config = {
      startOnLoad: true,
      theme:'{{ if site.Params.mermaid.theme }}{{ site.Params.mermaid.theme }}{{ else }}dark{{ end }}',
      align:'{{ if site.Params.mermaid.align }}{{ site.Params.mermaid.align }}{{ else }}center{{ end }}',
    };
    mermaid.initialize(config);
  </script>
  {{end}}

{{end}}