  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="{{"logo.png"|relURL}}" class="bi me-2" width="64px"/>
      <span class="fs-1">{{.Site.Title}}</span>
    </a>

   <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Startseite</a></li>
        <li class="nav-item"><a href="/verein" class="nav-link">Verein</a></li>
        <li class="nav-item"><a href="/termine" class="nav-link">Termine</a></li>
        <li class="nav-item"><a href="/links" class="nav-link">Links</a></li>
        <li class="nav-item"><a href="/kontakt" class="nav-link">Kontakt</a></li>
    </ul>
  </header>
